/*home.phpのcss*/
/*top_image部分*/
.top_image{
  width: 100%;
  margin-bottom:60px;
}
.top_image img{
  width: 100%;
  height: auto;
}
/*コンテンツのタイトル部分*/
.title{
  margin-top: 80px;
}
.title p{
  font-size: 28px;
  display: inline-block;
  font-weight: 300;
}
.title p::after{
  width: 48%;
  content: ' ';
  border-bottom: solid 1px #222;
  display: block;
  position: relative;
  bottom: 0;
  left: 0;
  padding-bottom: 24px;
  margin-bottom: 24px;
}
/*tab_button部分*/
.jump_tab{
  width:100%;
  text-align: center;
}
.jump_tab ul{
  padding: 0;
  margin: 0;
}
.jump_tab ul li{
  display: inline-block;
	width: 25%;
  margin: 0 2%;
	text-align: center;
}
a.jump_button{
  padding: 12px 0;
  border: solid 1px #333;
  border-radius: 24px;
  text-decoration:none;
  overflow: auto;
  display: block;
  color: #333;
}
a.jump_button:hover{
  color: white;
  background-color: #333;
}
/*新着情報*/
#information{
	width: 80%;
  margin: 0 auto;
  color: #212121;
  margin-bottom: 50px;
}
#information .info-content{
  clear: both;
  width: 100%;
}
#information .info-topic{
  clear: both;
  width: 100%;
  border-top: solid 1px #e6e6fa;
}
#information .info-topic div{
  float: left;
  color: #333;
  font-size: 13px;
  padding-top: 10px;
}
#information .info-topic p{
  margin: 0;
}
#information .info-topic .info-title a{
  color: #333;
  text-decoration: none;
}
#information .info-topic .info-title a:hover{
  color: #666;
}
#information .info-date{
  width: 200px;
  padding-left: 20px;
  text-align: center;
}
#information .info-tags{
  clear: both;
  width: 100%;
  font-size: 10px;
}
#information .info-tags div{
  float: left;
}
#information .info-tag{
  margin-bottom: 5px;
  margin-top: 2px;
  margin-right: 10px;
  float: left;
  padding: 2px;
  border: solid 1px #ccc;
  box-sizing:border-box;
  -webkit-bo-sizing:border-box;
	-moz-box-sizing:border-box;
	-ms-box-sizing:border-box;
	-o-box-sizing:border-box;
  border-radius: 6px;
}
/*#information .info-tag:hover{
  background-color: #333;
  border-color: #333;
  color: #fff;
}*/
#information .info-tags:last-child{
  height: 28px;
  border-bottom: solid 1px #e6e6fa;
}
.info-tag p{
  margin: 0;
}
#information .info-tag:first-child{
  margin-left: 200px;
}
.allnews{
  margin-top: 10px;
  margin-bottom: 10px;
  float: right;
  position: relative;
  right: 40px;
}
.allnews a{
  text-decoration: none;
  color: #333;
}
/*カレンダー部分*/
#calendar{
  width: 80%;
  margin: 0 auto;
  margin-bottom: 20px;
}
#calendar h3{
  margin: 0;
  margin-top: 30px;
  padding: 0;
  text-align: center;
}
#calendar table{
  width: 100%;
  margin-top: 10px;
}
#calendar table th{
  background-color: #ccc;
}
#calendar table th,
#calendar table td{
  width: 14.285%;
  border-top: solid 1px #ccc;
  text-align: center;
  padding: 0 10px;
}
#calendar table tr{
  height: 80px;
}
#calendar table tr:first-child{
  height: auto;
}
#calendar table tr:last-child{
  border-bottom: solid 1px #ccc;
  height: 0;
}
#calendar table tr.day{
  height: 25px;
}
.slider .slide {
 width: 588px;
 height: 500px;
 /*border: 1px solid #f00;*/
 float: left;
}
.slider .slideSet {
 position: absolute;
 left: -7056px;
}
.slider {
 width: 588px;
 height: 500px;
 margin: 0 auto;
 overflow: hidden;
 position: relative;
}
tr.days td{
  border: none;
}
.event{
  border-bottom: solid 1px #ccc;
}
.doyoubi{
  color:blue;
}
.nitiyoubi{
  color:red;
}
/* 1列目 */ #calendar table tbody tr :nth-child(1) {color:red;}
/* 7列目 */ #calendar table tbody tr :nth-child(7) {color:blue;}
.calendar_content{
	height: 100px;
}
#calendar .center p{
  display: inline;
  padding: 0 20px;
  font-size: 24px;
}
.cal_button{
	width: 10%;
	background-color: white;
	color: black;
	text-decoration: none;
	border-radius: 20px;
  position: relative;
  bottom: 5px;
}
.cal_button:hover{
	background-color: #cbe6f3;
}
/*シルモク部分*/
#sirumoku{
  width: 80%;
  margin: 0 auto;
  margin-bottom: 20px;
}
.sirumoku_introduction{
  width: 100%;
  margin: 0 auto;
  padding-bottom: 20px;
  overflow: auto;
}
.sirumoku-image{
  width:50%;
  float:left;
}
.sirumoku-image img{
  width: 100%;
}
.introduce_sirumoku{
  float: left;
  width: 50%;
  padding-left: 20px;
  padding-top: 20px;
  text-align: left;
}
.sirumoku_datas{
  margin-bottom: 5rem;
}
.sirumoku_datas table{
  width: 100%;
  margin: 0 auto;
  margin-top: 20px;
}
.s_data_list{
  background-color: #2394ff;
}
.sirumoku_datas th{
  text-align: center;
  color: #fff;
  font-weight: normal;
}
/*キャリアセンター長からの挨拶*/
.introduce{
  width: 80%;
  overflow: auto;
  margin: 5% auto;
}
.introduce-image{
  float: left;
  width: 16%;
  margin: 0 2rem 1rem 0;
}
.introduce-image-inner{
  width: 100%;
}
.introduce-introduction-title{
  overflow: auto;
}
.introduce-introduction-title h1{
  margin-top: 3rem;
  margin-bottom: 15px;
  font-size: 2rem;
}
.introduce-introduction-title h4{
  margin-bottom: 20px;
  font-size: 1.2rem;
  font-weight: bold;
}
