body{
	background-color: #fff;
	width: 100%;
	margin: 0 auto;
}
header{
	width: 80%;
	margin: 20px auto;
}
.logo{
	margin: 0;
	padding: 0;
	height: 70px;
}
.nav-menu{
	width: 90%;
	margin: 0 auto;
	overflow: auto;
	margin-top: 20px;
}
.nav-menu #menu li{
	box-sizing:border-box;
  -webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-ms-box-sizing:border-box;
	-o-box-sizing:border-box;
}
ul#menu {
	margin: 0;
	padding: 0;
	overflow: auto;
}
ul#menu a{
	display:block;				/*リンクをブロック表示にする*/
	height:42px;
	padding-top: 0;
	text-align:center;
	text-decoration:none; 			/*リンクの下線を無くす*/
	font-family:Arial, Helvetica, sans-serif;	/*フォントの種類*/
	color: #337ab7; //文字色指定
}
ul#menu a:hover{
	color: #23527c;
}
ul#menu > li .unselected_tab {
	border-bottom: 6px solid #8bbcdf;
}
ul#menu > li .unselected_tab:hover{
	border-bottom: 6px solid #23527c;
}
.clear{
	clear: both;
}
ul li#home,ul li#info-career,ul li#intern {
	float:left;
	display:block;
	list-style-type:none;
	background-repeat:no-repeat;
	width:32%;
	padding:1% 0;
	text-align:center;
}
#menu > li{
	font-size: 20px;
}
li#home {
	margin-right: 1%;
}
li#info-career {
	margin-right: 1%;
}
.selected_tab {
	border-bottom: 6px solid #0082df;
}
/* ここまでheader */
.contents{
	width: 80%;
	margin: 0 auto;
}
/*footer部分*/
/*footerのスタイル*/
footer{
	clear: both;
	width: 100%;
	border-top: 4px solid #2390de;
	background: #2390de;
	margin-top: 10px;
	color: #fff;
}
.contacts{
	background: #e5edf3;
	color: #333;
}
.contact-inner{
	width: 40%;
	margin: 0 auto;
	padding-bottom: 1rem;
}
.contact-title{
	width: 80%;
	margin: 0 auto;
}
.contact-title h1{
	font-size: 20px;
	padding: 1rem 0;
	padding-top: 2rem;
	margin: 0;
}
.contact-inner ul{
	margin: 0;
}
.contact-inner li{
	margin-bottom: 1rem;
}
.linkList{
	width: 80%;
	margin: 0px auto;
	margin-top: 10px;
}
.linkList h1{
	font-size: 24px;
	margin: 0;
	padding-bottom: 10px;
}
.internal h2{
	font-size: 16px;
	margin: 0;
	padding: 0;
	padding-bottom: 1rem;
}
.foot_link h3{
	width: auto;
	font-size: 14px;
	margin: 0;
	padding: 0;
	padding-bottom: 0.5rem;
}
.linkList ul{
	width: 100%;
	list-style: none;
	overflow: auto;
	display: block;
	margin: 0;
	padding: 0;
}
ul.internal{
	padding-top: 1rem;
	padding-bottom: 2rem;
}
.internal li{
	float: left;
	font-size: 13px;
}
.internal li a{
	color: #fff;
	text-decoration: none;
}
li.internal-link{
	padding: 0;
	overflow: auto;
}
ul.foot_list{
	padding-left: 2rem;
	padding-right: 1rem;
	list-style-image: url('../img/material/ic_arrow.svg');
}
.foot_list li{
	clear: both;
}
footer .copyright{
	clear: both;
	width: 100%;
	text-align: center;
	background-color: #2390de;
	color: #fff;
}
