/*実際に使う部分*/
table#table-02 {
  margin: 0 auto;
  width: 530px;
  border: 1px #E3E3E3 solid;
  border-collapse: collapse;
  border-spacing: 0;
}

table#table-02 th {
  padding: 5px;
  border: #E3E3E3 solid;
  border-width: 0 0 1px 1px;
  background: #F5F5F5;
  font-weight: bold;
  line-height: 120%;
  text-align: center;
}
table#table-02 td {
  padding: 5px;
  border: 1px #E3E3E3 solid;
  border-width: 0 0 1px 1px;
  text-align: center;
}
.introduce{
  width: 90%;
  margin: 0 auto;
}


/*manager.phpのcss*/
.manager_page{
  width: 70%;
  margin: 0 auto;
}

.new_event{
  width: 70%;
  margin: 0 auto;
}

.arrange_rows{
  width: 90%;
  margin: 0 auto;
}

.manager{
  color: #208dc3;
  margin:0 auto;
  margin-bottom: 20px;
}

.manager dd{
  margin-bottom: 20px;
}

.manager input{
  text-align: center;
  border-radius: 10px;
}
.manager textarea{
  border-radius: 10px;
}

.manager_contents{
  background-color: white;
  border: 1px solid #6EB7DB;
  border-radius: 20px;
  text-align: center;
}
.manager_contents:hover{
  background-color: #cbe6f3;
}

.recent_update{
  width: 80%;
  color: #208dc3;
  position: relative;
  border: 2px solid green;
  border-radius: 20px;
  text-align: center;
}
.manager tr{
  border-radius: 20px;
}
.manager th{
  text-align: center;
  border: 1px solid #6EB7DB;
}
.manager td{
 text-align:center;
 padding-top: 10px;
 padding-bottom: 10px;
 border: 1px solid #6EB7DB;
}


/*recruitment.phpのcss*/
.borders{
  border-bottom: 1px solid #6EB7DB;
  border-top: 1px solid #6EB7DB;
}
.borders:hover{
  background-color: #cbe6f3;
}
