/*実際に使う部分*/
table#table-02 {
  margin: 0 auto;
  width: 530px;
  border: 1px #E3E3E3 solid;
  border-collapse: collapse;
  border-spacing: 0;
}

table#table-02 th {
  padding: 5px;
  border: #E3E3E3 solid;
  border-width: 0 0 1px 1px;
  background: #F5F5F5;
  font-weight: bold;
  line-height: 120%;
  text-align: center;
}
table#table-02 td {
  padding: 5px;
  border: 1px #E3E3E3 solid;
  border-width: 0 0 1px 1px;
  text-align: center;
}
.introduce{
  width: 90%;
  margin: 0 auto;
}
